# requirements.txt
streamlit==1.31.0
pandas==2.0.3
numpy==1.23.5
google-auth==2.27.0
google-api-python-client==2.116.0
plotly==5.18.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.2.0
python-dotenv==1.0.0
